/Project/Gin/proj.win32/Debug.win32
/Project/Gin/cocos2d/cocos/2d/Debug.win32
/Project/Gin/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32
/Project/Gin/cocos2d/external/Box2D/proj.win32/Debug.win32
/Project/Gin/cocos2d/external/bullet/proj.win32/Debug.win32
/Project/Gin/cocos2d/external/recast/proj.win32/Debug.win32
/Project/Gin/proj.win32/.vs
/Project/Gin/proj.win32/Debug.win32
/Project/Gin/cocos2d/cocos/platform/android/libcocos2dx/build
/Project/Gin/proj.android-studio/app/assets
/Project/Gin/proj.android-studio/app/obj
/Project/Gin/proj.android-studio/*.iml
/Project/Gin/proj.android-studio/app/*.iml
/Project/Gin/proj.android-studio/app/gradle.properties
/Project/Gin/proj.android/.idea
/Project/Gin/proj.android/app/assets
/Project/Gin/proj.android/app/obj
/Project/Gin/proj.android/*.iml
/Project/Gin/proj.android/app/*.iml
/Project/Gin/proj.android/app/gradle.properties
/Project/Gin/cocos2d/cocos/platform/android/libcocos2dx/*.iml
/Project/Gin/Data/DataCocosStudio/BossCocosStudioUI/*.udf
/External/cocos/tools/cocos2d-console/bin/*.pyc
/Project/Gin/proj.ios_mac/Pods/
/Project/Gin/proj.ios_mac/Podfile.lock
/Project/Gin/cocos2d/build/build
/Project/Gin/config.sh
/Project/Gin/bin
/Project/Gin/build
/Project/Gin/proj.ios_mac/Export
/Project/Gin/proj.ios_mac/build
/Project/Gin/proj.ios_mac/Podfile.lock
/Project/Gin/cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata
/Project/Gin/proj.ios_mac/GinOffline.xcworkspace
/Project/Gin/proj.ios_mac/GinOffline.xcodeproj/xcuserdata
/Project/Gin/proj.ios_mac/GinOffline.xcodeproj/project.xcworkspace/xcuserdata
/Project/Gin/proj.android/app/.cxx

# Mac DS_Store Files #
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store