<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>plist/ImageCard/b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,465},{23,32}}</string>
				<key>offset</key>
				<string>{-27,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,373},{19,31}}</string>
				<key>offset</key>
				<string>{-28,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,276},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,295},{20,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,315},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,334},{20,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,140},{20,30}}</string>
				<key>offset</key>
				<string>{-28,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,354},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,393},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/ba.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,432},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{99,139}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/bj.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,295},{20,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,471},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,294},{21,32}}</string>
				<key>offset</key>
				<string>{-28,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r10.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,465},{23,32}}</string>
				<key>offset</key>
				<string>{-27,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,451},{19,31}}</string>
				<key>offset</key>
				<string>{-28,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r3.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,62},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r4.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,373},{20,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r5.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,4},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r6.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,334},{20,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r7.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,140},{20,30}}</string>
				<key>offset</key>
				<string>{-28,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r8.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,101},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r9.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,178},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/ra.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,217},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/rj.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,412},{20,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/rk.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,256},{21,31}}</string>
				<key>offset</key>
				<string>{-28,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/rq.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,236},{21,32}}</string>
				<key>offset</key>
				<string>{-28,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/chat_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,93},{81,73}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/chat_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,439},{81,69}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/chat_chuon.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,174},{81,72}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/chat_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,254},{74,73}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/front_special.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,151},{99,139}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/chat_bich_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,445},{58,60}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>plist/ImageCard/chat_chuon_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,445},{59,58}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>plist/ImageCard/chat_co_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,445},{59,55}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>plist/ImageCard/chat_ro_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,445},{47,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>plist/ImageCard/front_special1.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,4},{98,137}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/front.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,298},{99,139}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/j_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,4},{83,83}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/j_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,95},{83,83}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/j_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,186},{83,83}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/j_spade.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,277},{83,83}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/k_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,425},{83,83}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/k_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,407},{81,83}}</string>
				<key>offset</key>
				<string>{3,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/k_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,4},{83,83}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/k_spade.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,4},{83,81}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/q_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,186},{83,82}}</string>
				<key>offset</key>
				<string>{2,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/q_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,276},{83,82}}</string>
				<key>offset</key>
				<string>{2,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/q_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,423},{83,82}}</string>
				<key>offset</key>
				<string>{2,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/q_spade.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,95},{83,83}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,335},{35,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,178},{31,50}}</string>
				<key>offset</key>
				<string>{-22,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,254},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,62},{33,50}}</string>
				<key>offset</key>
				<string>{-22,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,93},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,4},{33,50}}</string>
				<key>offset</key>
				<string>{-22,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,4},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,151},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/r9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,312},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/ra_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,250},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/rj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,120},{33,50}}</string>
				<key>offset</key>
				<string>{-22,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/rk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,62},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/rq_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,366},{33,50}}</string>
				<key>offset</key>
				<string>{-22,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,335},{35,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,424},{31,50}}</string>
				<key>offset</key>
				<string>{-22,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,4},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,424},{33,50}}</string>
				<key>offset</key>
				<string>{-22,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,120},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,366},{33,50}}</string>
				<key>offset</key>
				<string>{-22,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,370},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,428},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/b9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,308},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/ba_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,249},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/bj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,307},{33,50}}</string>
				<key>offset</key>
				<string>{-22,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/bk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,178},{34,50}}</string>
				<key>offset</key>
				<string>{-21,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/bq_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,236},{33,50}}</string>
				<key>offset</key>
				<string>{-22,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/chat_bich_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,366},{33,33}}</string>
				<key>offset</key>
				<string>{-21,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/chat_chuon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,209},{33,33}}</string>
				<key>offset</key>
				<string>{-21,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/chat_co_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,209},{33,32}}</string>
				<key>offset</key>
				<string>{-22,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/chat_ro_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,424},{29,33}}</string>
				<key>offset</key>
				<string>{-21,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/front_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,149},{98,137}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/front_special_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,294},{98,137}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/bonus_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,482},{24,26}}</string>
				<key>offset</key>
				<string>{-35,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/bonus_mark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,365},{25,29}}</string>
				<key>offset</key>
				<string>{-34,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/front_color_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,4},{99,139}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/front_color_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,151},{99,139}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/front_color_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,298},{99,139}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/card_circle_color_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,368},{48,49}}</string>
				<key>offset</key>
				<string>{-27,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/card_circle_color_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,368},{48,49}}</string>
				<key>offset</key>
				<string>{-27,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>plist/ImageCard/card_circle_color_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,366},{48,49}}</string>
				<key>offset</key>
				<string>{-27,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SpriteSheetCard.png</string>
			<key>realTextureFileName</key>
			<string>SpriteSheetCard.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>